{{define "footer"}}
    <footer class="footer" style="background-color: white">
        <div class="content has-text-centered" >
            {{if .option.FooterInfo}}
                {{.option.FooterInfo | unescape}}
            {{else}}
            <p>
                <a href="https://github.com/songquanpeng/go-file">Go File {{.option.Version}}</a> 由 <a href="https://github.com/songquanpeng">JustSong</a> Build, source code follows <a href="http://opensource.org/licenses/mit-license.php">MIT</a> protocol
            </p>
            {{end}}
        </div>
    </footer>
{{end}}