<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
<div>
    {{template "nav" .}}
    <div class="container">
        <div class="normal-container">
            <article id="messageToast" class="message is-danger" style="display: none">
                <div class="message-body" id="messageToastText">

                </div>
            </article>
            {{template "progress"}}
            <div class="box">
                <div class="table-container">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="page-card-title" style="color: #368CCB;">Go File {{.option.Version}} Help documentation</div>
                                    <div class="page-card-text">
                                        <h4>basic skills</h4>
                                        <ul>
                                            <li>
                                                Upload files: Click the upload button in the upper right corner to upload. It supports multiple file uploads and drag-and-drop upload. When you upload on the "File" page, it will be uploaded to the currently displayed path; when you upload on other pages, it will be uploaded to the default path.
                                            </li>
                                            <li>Download the file: Click the download icon.</li>
                                            <li>Search files: In the search bar in the upper right corner of the navigation bar, press Enter to search. Keywords can be file name, upload date, uploader and description information. Notice that the search bar automatically gets focus.</li>
                                            <li>Delete files: Click the delete icon.</li>
                                        </ul>

                                        <h4>Advanced functions</h4>
                                        <ul>
                                            <li>Built-in picture bed: supports pasting and uploading multiple files, drag and drop uploading.</li>
                                            <li>Video playback: The root directory of the displayed video file is used when the program starts <code>--video</code>
                                                The path specified by the parameter currently supports three formats（MP4，WebM，Ogg）。
                                            </li>
                                        </ul>

                                        <h4>other</h4>
                                        If this project is meaningful to you,<a target="_blank"
                                                      href="https://github.com/songquanpeng/go-file">Please support this project</a>，
                                        <del>This is my main motivation to continue maintaining</del>
                                        ,Thanks :)。

                                        <ul>
                                            <li>Project homepage:<a href="https://github.com/songquanpeng/go-file">https://github.com/songquanpeng/go-file</a>
                                            </li>
                                            <li>Blog page:<a href="https://iamazing.cn/page/LAN-SHARE-使用教程">Go File Tutorial</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</div>

{{template "modal"}}

</body>
</html>
